html,
body {
  height: 100%;
}

body {
  font-family: "Source Sans Pro";
  font-size: 20px;
  display: flex;
  flex-direction: column;
}


nav {
   background: linear-gradient(#527957, #1F2D21);
    color: #ffffff;
}


.header-image {
  margin: 0 auto;
  background-image: url("../img/optimized-dishonored-video-game-wallpaper.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
}

.header-title {
  text-align: center;
  font-size: 1.75em;
  color: #ffffff;
  position: relative;
  top: 225px;
}

main {
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
  background: linear-gradient(#1F2D21, #527957);
    height: 50px;
}

footer p {
  vertical-align: bottom;
  color: #ffffff;
  text-align: center;
}